@page "/run"
@using WppEngine

<h3>Run W++ Code</h3>

<textarea @bind="userCode" rows="10" cols="60"></textarea>
<br />
<button @onclick="ExecuteCode">Run</button>

<h4>Output</h4>
<pre>@output</pre>

@code {
    private string userCode = "print \"Hello from W++\";";
    private string output;

    private async Task ExecuteCode()
    {
        output = await WppRunner.RunWpp(userCode);
    }
}
